<app-base-layout-component [selectedProducts]="selectedItems"
                           [visibleSidebar]="visibleSidebar"
                           [formConfig]="formConfig"
                           [cols]="cols"
                           [data]="data"
                           [deleteProductsDialog]="deleteItemsDialog"
                           (onEdit)="editItem()"
                           (onDelete)="deleteSelectedItems()"
                           (onClearSelection)="selectedItems = []"
                           (onSidebarChange)="visibleChange($event)"
                           (onSave)="save($event)"
                           (onSidebarCancel)="visibleChange($event)"
                           (onRowSelect)="getSelectedItems($event)"
                           (onDeleteConfirm)="confirmDeleteSelected($event)"
></app-base-layout-component>
