<div class="col-12 md:col-12">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid" formArrayName="dynamicFields">
      <div *ngFor="let field of formConfig.fields; let i = index" [formGroupName]="i" class="field grid">

        <ng-container [ngSwitch]="field.type">

          <!-- title-bar-->
          <div class="col-12 md:col-12" *ngSwitchCase="'titleBar'">
            <div class="p-fluid">
              <div class="field grid">
                <span class="font-semibold title-bar text-md">{{field.name}}</span>
              </div>
            </div>
          </div>

          <ng-container *ngSwitchCase="'text'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
            <div class="col-12 md:col-8">

              <!-- Text Input -->
              <input

                pInputText
                [id]="field.name"
                [placeholder]="field.placeholder"
                [formControlName]="'value'"
              />
              <label class="hint" *ngIf="field.hint">{{ field.hint }}</label>

            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'switches'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
            <div class="col-12 md:col-8">

              <!-- Switch -->
              <div class="field grid" *ngFor="let switchItem of field.options">
                <div class="col-12 md:col-8">
                  <p-inputSwitch [formControlName]="'value'"></p-inputSwitch>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'selectOneButton'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
            <div class="col-12 md:col-8">

              <!-- Select Button -->
              <p-selectButton class="field grid"
                              [options]="field.options"
                              optionLabel="name">
              </p-selectButton>
              <!--          </ng-container>-->

              <!-- Validation Errors -->
              <!--          <div class="error" *ngIf="dynamicFields.at(i)?.invalid && dynamicFields.at(i)?.touched">-->
              <!--            <small *ngIf="dynamicFields.at(i)?.hasError('required')">This field is required</small>-->
              <!--            <small *ngIf="dynamicFields.at(i)?.hasError('minlength')">-->
              <!--              Minimum length is {{ field.validators.minLength }}-->
              <!--            </small>-->
              <!--            <small *ngIf="dynamicFields.at(i)?.hasError('email')">Invalid email format</small>-->
              <!--          </div>-->
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'dropdown'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
            <div class="col-12 md:col-8">
              <div class="grid formgrid">
                <div class="field col-12 md:col-8">
                  <p-dropdown [options]="field.options" optionLabel="name"
                              placeholder="Click to Select {{field.placeholder}}"
                  ></p-dropdown>
                </div>
              </div>

            </div>

          </ng-container>
          <ng-container *ngSwitchCase="'multiSelect'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
<!--            <div class="col-12 md:col-8 mb-8">-->
<!--              <div class="grid formgrid">-->
<!--                <div class="field col-12 md:col-8">-->
<!--                  <p-multiSelect [options]="field.options" placeholder="Select" optionLabel="name" class="multiselect-custom" display="chip">-->
<!--                    <ng-template let-country pTemplate="item">-->
<!--                      <div class="flex align-items-center">-->
<!--                        <span class="ml-2">{{country.name}}</span>-->
<!--                      </div>-->
<!--                    </ng-template>-->
<!--                  </p-multiSelect>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

          </ng-container>
          <ng-container *ngSwitchCase="'dropdown-switch'">
            <label [for]="field.name" class="col-12 mb-4 md:col-4 md:mb-0">{{ field.label }}</label>
            <div class="col-12 md:col-8">
              <!-- Switch -->
              <div class="field grid">
                <div class="col-12 md:col-8">
                  <p-inputSwitch formControlName="isSwitchOn" class="inline-block mr-2 align-content-center justify-content-center"></p-inputSwitch>
                  <p-dropdown *ngIf="dynamicFields.at(i).get('isSwitchOn')?.value"  class="inline-block  mr-2 mb-3 align-content-center justify-content-center"
                    [options]="field.options"
                    optionLabel="name"
                    placeholder="Click to Select {{field.placeholder}}"
                    formControlName="selectedOption">
                  </p-dropdown>
                </div>
              </div>

            </div>
          </ng-container>

        </ng-container>
      </div>
    </div>
  </form>
</div>
