<div class="grid">
  <div class="col-12">
    <div class="card px-1 py-1">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-1">
        <ng-template pTemplate="left">
          <div class="my-1">
            <button pButton pRipple type="button" (click)="visibleSidebar2 = true" label="Create" *ngIf="selectedProducts.length <= 1" icon="pi pi-plus" class="p-button-outlined mr-2"></button>
            <button pButton pRipple type="button" (click)="tableHeaderCheckbo.click()" label="Clear Selection" *ngIf="selectedProducts.length > 1" icon="pi pi-minus" class="p-button-outlined mr-2"></button>
            <button pButton pRipple type="button" (click)="editProduct()" [disabled]="!selectedProducts || !selectedProducts.length" *ngIf="selectedProducts.length <= 1" label="Edit" icon="pi pi-pen-to-square" class="p-button-outlined p-button-secondary mr-2"></button>
            <button pButton pRipple type="button" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" label="Delete" icon="pi pi-trash" class="p-button-outlined p-button-secondary mr-2"></button>
            <span class="mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
            <!--            <button pButton pRipple label="New" icon="pi pi-plus" class="mr-2" (click)="openNew()"></button>-->
            <!--            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>-->
          </div>
        </ng-template>

        <!--        <ng-template pTemplate="right">-->
        <!--          <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
        <!--          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>-->
        <!--        </ng-template>-->
      </p-toolbar>
      <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" [style]="{width: '70%', height:'calc(100vh - 70px)', top: '70px'}">
        <ng-template pTemplate="header">
          <span class="font-semibold text-xl">DNS Profile</span>
        </ng-template>

        <ng-template pTemplate="content">
          <div class="col-12 md:col-12">
            <div class="p-fluid">
              <div class="field grid">
                <label htmlFor="name3" class="col-12 mb-4 md:col-4 md:mb-0">Name</label>
                <div class="col-12 md:col-8">
                  <input pInputText id="name3" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 md:col-12">
            <div class="p-fluid">
              <div class="field grid">
          <span class="font-semibold text-xl title-bar">DNS Anomaly Feature Controls</span>
              </div>
            </div>


            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Header Anomaly

              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group1" value="New York" [(ngModel)]="valCheck1" id="ny"></p-checkbox>
                      <label for="ny">Illegal Flag Combination</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group1" value="San Francisco" [(ngModel)]="valCheck1" id="sf"></p-checkbox>
                      <label for="sf">Invalid Op Code</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck1" id="la"></p-checkbox>
                      <label for="la">SP,DP Both 53</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                  <div class="field-checkbox">
                    <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="valCheck1" id="la"></p-checkbox>
                    <label for="la">SIncomplete DNS</label>
                  </div>
                </div>
                </div>

              </div>
            </div>
            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Query Anomaly
              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                      <label for="ny">Query Bit Set</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>
                      <label for="ny2">Null Query</label>
                    </div>
                  </div>

                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>
                      <label for="ny3">QDCount not One in Query</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                      <label for="sf">RA Bit Set</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
<!--            <div class="field grid">-->
<!--              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Response Anomaly-->
<!--              </label>-->
<!--              <div class="col-12 md:col-8">-->
<!--                <div class="grid formgrid">-->
<!--                  <div class="col-12 md:col-3">-->
<!--                    <div class="field-checkbox">-->
<!--                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>-->
<!--                      <label for="ny">QCLASS in Reply</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-12 md:col-3">-->
<!--                    <div class="field-checkbox">-->
<!--                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>-->
<!--                      <label for="ny2">QType in Reply</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-12 md:col-3">-->
<!--                    <div class="field-checkbox">-->
<!--                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>-->
<!--                      <label for="ny3">Query Bit not Set</label>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="col-12 md:col-3">-->
<!--                    <div class="field-checkbox">-->
<!--                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>-->
<!--                      <label for="sf">QDCOUNT not One in Response</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->
            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Bufferoverflow Anomaly
              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                      <label for="ny">Name too Long</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>
                      <label for="ny2"> Label Length too Large</label>
                    </div>
                  </div>

                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>
                      <label for="ny3">TCP Message too Long</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                      <label for="sf"> UDP Message too Long</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Exploit Anomaly
              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                      <label for="ny">Message Ends Prematurely</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>
                      <label for="ny2">Class not IN</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>
                      <label for="ny3">Zone Transfer</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                      <label for="sf">Pointer Loop</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                      <label for="la">Empty UDP</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                  <div class="field-checkbox">
                    <p-checkbox name="group2" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                    <label for="la">TCP Buffer Underflow</label>
                  </div>
                </div>
                </div>

              </div>
            </div>

            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Info Anomaly(Type All/Any Used)
              </label>
              <div class="col-12 md:col-8">
                <p-inputSwitch [(ngModel)]="valSwitch4"></p-inputSwitch>
              </div>
            </div>

            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">Data Anomaly
              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                      <label for="ny">Extraneous Data</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>
                      <label for="ny2">TTL too Long</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>
                      <label for="ny3">Invalid Class Type</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                      <label for="sf">Name Length too Short</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="Los Angeles" [(ngModel)]="valCheck" id="la"></p-checkbox>
                      <label for="la">Multiple OPT RR</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="field grid">
              <label htmlFor="email3" class="col-12 mb-4 md:col-4 md:mb-0">DNS Known Opcode Anomaly
              </label>
              <div class="col-12 md:col-8">
                <div class="grid formgrid">
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New York" [(ngModel)]="valCheck" id="ny"></p-checkbox>
                      <label for="ny">Status</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New2 York" [(ngModel)]="valCheck" id="ny2"></p-checkbox>
                      <label for="ny2">Notify</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="New1 York" [(ngModel)]="valCheck" id="ny3"></p-checkbox>
                      <label for="ny3">Update</label>
                    </div>
                  </div>
                  <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                      <p-checkbox name="group2" value="San Francisco" [(ngModel)]="valCheck" id="sf"></p-checkbox>
                      <label for="sf">DSO</label>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-center align-items-center">
          <button pButton pRipple label="Ok" icon="pi pi-check" class="p-element p-ripple p-button p-component mr-2" (click)="saveProduct()"></button>
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-ripple p-element p-button-outlined p-button p-component" (click)="hideDialog()"></button>
          </div>
        </ng-template>
      </p-sidebar>
      <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <!--        <ng-template pTemplate="caption">-->
        <!--          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">-->
        <!--&lt;!&ndash;            <h5 class="m-0">Manage Products</h5>&ndash;&gt;-->

        <!--          </div>-->
        <!--        </ng-template>-->
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox #tableHeaderCheckbo></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
<!--            <th pSortableColumn="price">Authentication Direction<p-sortIcon field="price"></p-sortIcon></th>-->
            <th pSortableColumn="quantity">Flood Mitigation Mode<p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="rating">Match Response with Queries(DQRM)<p-sortIcon field="rating"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width:30%; min-width:10rem;">
              <span class="p-column-title">Name</span>
              {{product.name}}
            </td>
<!--            <td style="width:25%; min-width:8rem;">-->
<!--              <span class="p-column-title">Price</span>-->
<!--              {{product.price }}-->
<!--            </td>-->
            <td style="width:33%; min-width:8rem;">
              <span class="p-column-title">quantity</span>

              {{product.quantity}}
            </td>
            <td style="width:33%; min-width:8rem;">
              <span class="p-column-title">rating</span>
              <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': product.rating, 'false-icon pi-times-circle text-pink-500': !product.rating}"></i>

              {{product.rating? 'Enabled' : 'Disabled'}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</div>
