<p-sidebar [(visible)]="visibleSidebar" (visibleChange)="visibleSidebarChange.emit(visibleSidebar)" position="right"
           [baseZIndex]="10000" [style]="{width: '70%', height:'calc(100vh - 70px)', top: '70px'}">

  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">{{ formConfig.name }}</span>
  </ng-template>

  <ng-template pTemplate="content">
    <app-form-component #formComponent [formConfig]="formConfig" (formSubmit)="handleFormSubmit($event)"></app-form-component>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-center align-items-center">
      <button pButton pRipple label="Ok" icon="pi pi-check" class="p-element p-ripple p-button p-component mr-2" type="submit"
              (click)="emitOkButtonChange()"></button>
      <button pButton pRipple label="Cancel" icon="pi pi-times"
              class="p-ripple p-element p-button-outlined p-button p-component"
              (click)="emitCancelButtonChange()"></button>
    </div>
  </ng-template>
</p-sidebar>
